
.game_item{
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    height: 320px;
    margin: 30px 10px;
    padding-bottom: 15px;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    position: relative;
}
.title{
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px 15px 15px;
    text-align: center;
}
.ganres_block{
    margin: 0 15px 15px 15px;
}
.ganre_item{
    background-color: rgb(80, 82, 84);
    border-radius: 10px;
    font-size: 13px;
    padding: 2px 5px;
}
.ganre_item:not(:last-child){
    margin-right: 7px;
}
.buy{
    position: absolute;
    right: 0;
    bottom: 0;
}